<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PenVerse</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
    <div class="content">
      <!--PenVerse logo-->
      <img src="./images/pv-logo.webp" alt="pin logo" class="img1" style="border-radius: 50%;" />
      <p class="header">Sign up to read & write.</p>

      <form action="/register" method="post">
        <input type="email" name="email" placeholder="Email" class="detail" /><br />
        <input type="text" name="username" placeholder="username" class="detail" /><br />

        <input type="text" name="fullname" placeholder="Full Name" class="detail" /><br />
        <input type="password" name="password" placeholder="Password" class="detail" />
        <input type="submit" style="background-color: #076741;" class="btn int" value="Register Account">
      </form>


      


      <footer>
        <p>
          By continuing, you agree to PenVerse's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <a href="/login">Already on PenVerse? Login</a>
      </footer>
    </div>
  </div>


</body>

</html>